{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio de Desarrollador Backend</title>
  <!-- Agregamos una fuente personalizada de Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <!-- Agregamos íconos de FontAwesome para la navegación -->
  <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous"></script>
  <!-- Agregamos nuestro archivo CSS personalizado -->
  <link rel="stylesheet" href="{% static 'css/style3.css' %}">
  <script src="https://kit.fontawesome.com/75ee482120.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#"><i class="fas fa-home"></i>Inicio</a></li>
        <li><a href="#sobre-mi"><i class="fas fa-user"></i>Sobre mí</a></li>
        <li><a href="#proyectos"><i class="fas fa-project-diagram"></i>Proyectos</a></li>
        <li><a href="#contacto"><i class="fas fa-envelope"></i>Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="inicio">
      <h1>Bienvenido a mi Portafolio</h1>
      <p>Soy un desarrollador Backend con experiencia en Python, Django, SQL, HTML, CSS.</p>
      <a href="#contacto">Contáctame</a><br>
      <div class="icon-skill"><img src="https://img.icons8.com/color/48/git.png" alt="git"/>
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/css3.png" alt="css3"/>
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/html-5.png" alt="html-5"/>
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/python.png" alt="python"/>
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/visual-studio-code-2019.png" alt="visual-studio-code-2019"/>
        <img src="static/images_html/icons8-numpy-48.png" alt="">
        <img width="75px " height="65px" src="static/images_html/pandas.svg" alt="">
        <img src="static/images_html/icons8-mysql-logo-48.png" alt="">
        
        
      </div>
    </section>
    <section id="sobre-mi">
      <h2>Sobre mí</h2>
      <img src="static/images_html/laptop.jpg" alt="Foto de perfil">
      
      <h1>Soy un Desarrollador Python Junior apasionado y comprometido con el
        aprendizaje constante y la resolución efectiva de problemas. Busco contribuir al 
        desarrollo de soluciones de alta calidad mientras sigo evolucionando en este emocionante campo.</h1>
      
    </section>
    <section id="proyectos">
        <h2>Proyectos personales</h2>
        <ul>
          {% for proyecto in proyectos %}
          <li>
            <h3>{{ proyecto.titulo }}</h3>
            <img src= "{{ proyecto.imagen.url }}" alt="{{ proyecto.titulo }}" width="250" height="250"></center>
            <p>{{ proyecto.descripcion }}</p>
            
              <div class="proyectos-icons"><a href="{{proyecto.url}}" target="_blank" rel="noopener noreferrer"><img src="static/images_html/github (2).svg" alt="" style="background-color: white;"></a>
                </a>
                <a href="{% url 'detalle_proyecto' proyecto.id %}" ><i  class="fa-solid fa-link" style="font-size: 20"> blog</i></a>
              </div>
              
              
          </li>
          {% endfor %}
        </ul>
      </section>
      
      <section id="contacto">
        <h2>Contáctame</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
          
          <input  type="submit" value="Enviar">
        </form>
      </section>
